/*Global layout set-up*/

/*=========================
    BASE ELEMENT STYLES
=========================*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
body {
    display: grid;
    width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
            "header"
            "nav"
            "main";
}

.grid-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header{
    grid-area: header;
}

.nav {
    grid-area:nav;
}

.main{
    grid-area: main;
}

/*===================================
        HEADER
===================================*/


.header-container {
    background-color: #5981FE;
    height:80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    font-size: .7rem;
    padding:0px 10px; 
    color: #fff;
}
.bell-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.profile-picture{
    width: 30%;
    height: 30%;
    padding: 15px;
    border-radius: 50%;
}

.student-name {
    margin: 0;
}

/*===================================
        NAVIGATION
===================================*/
.nav {
    background-color: #4465CC;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-links {
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 322px;
    list-style-type: none;
}

.traffic-nav {
    display :flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;   
}



/*===================================
        MAIN
===================================*/
.main {
    display: grid;
}

.main-header {
    display: grid;
    grid-column: 1;
    margin-bottom: 60px; 
    background-color:#eee;
    grid-template-columns: 150px auto;
}

.tab{
    display: grid;
    grid-column: 1;
    background-color: white;
    height: 50px;
    align-items: center;
}


/*===================================
        SVG
===================================*/
.bell-icon {
    width: 30px;
    height: 30px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

.nav-svg {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 45%;
    justify-content: space-evenly;
    margin: auto;
}

.social-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3d5cf6;
    margin-left: 50px;
    padding: 10px;
}


/*===================================
        SOCIAL STATS
===================================*/
.social-container{
    display: flex;
    align-items: center;
    margin: 10px;
    border-style: solid;
    border-color: #b3b3b3;
    border-width: 2px;
    border-radius: 7px;
    height: 75px;
    background-color: #dae3ea;
}

.social-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}



/*===================================
      RECENT ACTIVITY and MEMBERS 
===================================*/


.activity, 
.members {
    display: flex;
    flex-direction: column;
}
.members-activity, 
.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    padding: 15px;
    border-radius: 50%;
    width: 150px;
}


.members-status,
.members-text {
    text-align: center;
    margin: 5px 0; 
}


h3 {
    display: block;
    margin-left: 3px;
    margin: 15px 15px;
    text-align: left;
}

/*===================================
        MESSAGE USER 
===================================*/

.widget-container {
    display: flex;
    flex-direction: column;
}

.form-field, 
.form-area,
.button-primary {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px 15px;
}
.form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
}

.form-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    text-align: left;
    padding:10px;
}

.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
/*===================================
        Settings 
===================================*/
.settings {
    display: flex;
    flex-direction: column;

}


/*toggle switch*/
.toggle-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.toggle-checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 100px; 
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    cursor: pointer;
    transition: background 1s;
    outline: none;
    padding-left: 20px;
} 

.toggle-checkbox::after {
    content: '';
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 15%;
    transition: left .3s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
} .toggle-checkbox:checked {
    background-color: #4463ff;
} .toggle-checkbox:checked::after {
    left: 85%;
}



/*time zone*/

select {
    display: flex;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 5px;
    border-width: 2px;
}


.settings-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#save,
#cancel{
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: 10px auto;
    height: 50px;
    border-radius: 5px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}    




/*===================================
        MEDIA QUERIES
===================================*/

@media (min-width:768px) {
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main";
    }
}

.main{
    display:grid;
}

@media (min-width:768px) {
    .main{
        grid-template-columns: 50%;
    }
}

@media (min-width: 768px) {
    .header-container {
        justify-content: space-between;
    }
}

@media (min-width:768px){
    .main-header {
        display: grid;
        grid-column: 1 / span 2;
    }
}

@media (min-width:768px) {
    .traffic, .social-status {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 768px) {
    .social-status {
        display: flex;
        flex-direction: row;
    }
    .social-container{
        display: flex;
        width: 200px;
    }
}

@media (min-width: 768px) {
    .daily, .members, .message .activity {
        grid-column: 1 / span 1;
    }
}

@media (min-width:768px) {
    .message, .settings {
        display: grid;
        grid-column: 1;
    }

    .widget-container{
        display: flex;
        flex-direction: column;
        width: auto;
    }
}


.widget-container-full, .widget-container-half {
    width: 100%;
}

@media (min-width:768px) {
    .widget-container-full {
        width: 100%;
    }
    .widget-container-half {
        width: 50%;
    }
    
}

@media (min-width:768px){
    .members-activity, 
    .members-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 200px;
        margin: 5px;
    }
}

@media (min-width:768px){
    .nav {
        height: 100%;
    }
    
    .nav-bar {
        margin-top: -1669px;
    }

    .nav-links {
        display: grid; 
        grid-template-columns: 80px;
        justify-content: center;
    }

    .nav-svg{
        margin: 10px auto;
    }

}