/*Global layout set-up*/

/*=========================
    BASE ELEMENT STYLES
=========================*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Anuphan', sans-serif;
} 
body {
    display: grid;
    width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
            "header"
            "nav"
            "main";
}

.grid-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header{
    grid-area: header;
}

.nav {
    grid-area:nav;
}

.main{
    grid-area: main;
}

/*===================================
        HEADER
===================================*/


.header-container {
    background-color: #7771e7;
    height:80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    font-size: .7rem;
    padding:0px 10px; 
    color: #fff;
}

.bell-icon:hover {
    transition: fill .25s ease-in; 
    fill: rgb(48, 48, 113);
}

.bell-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blank {
    border: 1px solid rgb(228, 228, 228);
    height: 40px;
    position: relative;
    margin-left: 10px;
}

.profile-picture{
    width: 30%;
    height: 30%;
    padding: 15px;
    border-radius: 50%;
}

.student-name {
    margin: 0;
}


#notifications {
    border: 3px solid rgb(15, 218, 1);
    border-radius: 25px;
    margin-bottom: 30px;
}


/*===================================
        NAVIGATION
===================================*/
.nav {
    background-color: #6058b7;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-links {
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 322px;
    list-style-type: none;
}

.traffic-nav {
    display :flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;   
}



/*===================================
        MAIN
===================================*/
.main {
    display: grid;
}

.main-header {
    display: grid;
    grid-column: 1;
    margin-bottom: 10px; 
    background-color:#d6d6d6;
    grid-template-columns: 150px auto;
}

.tab{
    display: grid;
    grid-column: 1;
    background-color: white;
    height: 50px;
    align-items: center;
}

#traffic-chart, 
#daily-chart {
    margin: 10px;
}

.alert {
    display: flex;
    margin: 0px 10px;
    padding: 20px 0px;
    background-color: #7477BF;
    border-radius: 7px; 
    color:white;
}

.alert-banner {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin:0 10px;
    font-size: 12px;
}

.alert-banner-close {
    display: flex;
    justify-content: flex-end;
  }


#mobile-chart {
    margin: 10px auto;
}

.traffic,
.daily,
.mobile,
.social-status,
.members,
.activity,
.message,
.settings {
    border: 2px solid #c7c7c7;
    border-top: none;
    border-right: none;
    border-left: none;
}

/*===================================
        SVG
===================================*/
.bell-icon {
    width: 30px;
    height: 30px;
    fill: rgb(244, 244, 244);
}

.nav-svg {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 45%;
    justify-content: space-evenly;
    margin: auto;
    fill: rgb(244, 244, 244);
}

.social-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7477BF;
    margin-left: 50px;
    padding: 10px;
    fill: rgb(244, 244, 244);
}


/*===================================
        SOCIAL STATS
===================================*/
.social-container{
    display: flex;
    align-items: center;
    margin: 10px;
    border-style: solid;
    border-color: #b3b3b3;
    border-width: 2px;
    border-radius: 7px;
    height: 75px;
    background-color: #dae3ea;
}

.social-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.social {
    color: #6058b7;
}
.stats {
    font-size: 30px;
    opacity: 50%;
}

/*===================================
      RECENT ACTIVITY and MEMBERS 
===================================*/

.members-activity, 
.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #c7c7c7;
    border-top: none;
    border-right: none;
    border-left:none;
    margin: 10px;
}

.greater{
    display: none;
}

.profile-image {
    padding: 15px;
    border-radius: 50%;
    width: 150px;
}


.members-status,
.members-text {
    text-align: center;
    margin: 5px 0; 
}


h3 {
    display: flex;
    margin-left: 3px;
    margin: 15px 15px;
    text-align: left;
}

/*===================================
        MESSAGE USER 
===================================*/

.widget-container {
    display: flex;
    flex-direction: column;
    margin:15px;
}

.form-area,
.button-primary {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #b3b3b3;
    opacity: 50%;
    border-radius: 5px;
}

#messageField{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    text-align: left;
    padding:10px;
    margin-bottom: 10px;
    background-color: #b3b3b3;
    opacity: 50%;
}

.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #6058b7;
    color: white;
}
/*===================================
        Settings 
===================================*/


/*toggle switch*/

.toggle-checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 100px; 
    height: 30px;
    margin: 5px;
    border-radius: 25px;
    background-color:  #7477BF;
    cursor: pointer;
    transition: background 1s;
    outline: none;
    padding-left: 20px;
} 


.toggle-checkbox::before{
    content:'ON';
    color: white;
    top:20%;
    right: 25%;
    position: absolute;
}

.toggle-checkbox:checked::before{
    content: 'OFF';
    color: white;
    top:20%;
    left:25%;
}

.toggle-checkbox::after {
    content: '';
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 15%;
    transition: left .3s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
} 
.toggle-checkbox:checked {
    background-color: gray;
} 
.toggle-checkbox:checked::after {
    left: 85%;
}

.toggleswitch {
    display: grid;
    max-width: 100%;
    grid-template-columns: 2fr 1fr;
    justify-items: start;
    align-items: center;
    margin: 10px 0;
}

.toggle-text{
    font-size: 15px;
}

/*time zone*/

.settings{
    display: grid;
    grid-column: 1 / span 1;
}

select {
    display: flex;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 5px;
    border-width: 2px;
}

#timezone {
    width: auto;
    margin: 0 15px;
}

.settings-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

#save,
#cancel{
    display: flex;
    justify-content: space-around;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    margin: 15px;
    background-color:#6058b7;
    color: white;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}    



.widget-container-full, .widget-container-half {
    position: relative;
    margin: auto;
    height:100%;
}

/*===================================
        MEDIA QUERIES 768px
===================================*/

@media (min-width:768px) {
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main";
    }
}

.main{
    display:grid;
}

@media (min-width:768px) {
    .main{
        grid-template-columns: 50%;
    }
}

@media (min-width: 768px) {
    .header-container {
        justify-content: space-between;
    }
}

@media (min-width:768px){
    .nav {
        height: 100%;
        align-items: start;
    }
    

    .nav-links {
        display: grid; 
        grid-template-columns: 80px;
        justify-content: center;
    }


    .nav-svg{
        margin: 10px auto;
    }

}

@media (min-width:768px){
    .alert {
        display: flex;
        grid-column: 1 / span 2;
    }    
}



@media (min-width:768px){
    .main-header {
        display: grid;
        grid-column: 1 / span 2;
    }
}

@media (min-width:768px) {
    .traffic, .social-status {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 768px) {
    .stats-container {
        display: flex;
        justify-content: space-between;
    }
    .social-container{
        display: flex;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .daily {
        grid-column: 1 / span 1;
    }

    .daily {
        border-right: none;
        border-left: none;
    }
    .mobile {
        border: 2px solid #c7c7c7;
        border-top: none;
        border-right: none
    }

}


@media (min-width:768px) {
    .message,  .activity, .settings {
        display: grid;
        grid-column: 1 / span 2;
    }

    .message, .settings {
     grid-column: 1 / span 2;
    }

    .toggle-checkbox{
        margin-right: 400px;
    }

}


.widget-container-full, .widget-container-half {
    width: 100%;
}

@media (min-width:768px) {
    .widget-container-full {
        width: 100%;
    }
    .widget-container-half {
        width: 80%;
    }
    
}

@media (min-width:768px){
    .members {
        grid-column: span 2;
    }
    .members-activity, 
    .members-activity-dan,
    .members-container,
    .members-container-dan {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 200px;
        margin: 10px;
    }
}

@media (min-width: 768px) {
    .members-status, .members-text {
    text-align: left;
    }
}

@media (min-width: 768px) {
    .date {
        margin-left: auto;
    }
}


@media (min-width: 768px) {
    .greater{
        display: flex;
        margin-left: auto;
    }
}


/*===================================
        MEDIA QUERIES 1024px
===================================*/

@media (min-width: 1024px) {
    .members, .activity, .message,  .settings {
        display: grid;
    }
    .members, .message {
        grid-column:  1;
    }
    .activity, .settings {
        grid-column: 2 / span 1;
    }
    .toggle-checkbox {
        margin-right: 0;
    }

    .members-activity, 
    .members-activity-dan,
    .members-container,
    .members-container-dan {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 200px;
        margin: 10px;
    }

}

@media (min-width:1024px){
    .greater{
        display: flex;
        margin-left: auto;
    }

    .profile-image{
        padding: 15px;
        border-radius: 50%;
        width: 115px;
    }

}



@media (min-width: 1024px) {
    .activity {
        border:2px solid #c7c7c7;
        border-right: none;
        border-top: none;
    }
}

@media (min-width:1024px) {
    .message {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }

    .settings{
        margin: 0px;
        padding: 15px; 
        border: 2px solid #c7c7c7;
        border-top:none;
        border-bottom: none;
    }

}
